#detail_main{
    display: flex;
    /* border: 1px solid red; */
    width: 55%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 10px;
   background-color: beige;
   padding: 1%;
   font-family: sans-serif;
   justify-content: space-between;
   margin-bottom: 3%;
   padding-top: 10px;
   color: rgb(73, 71, 71);
}
#detail_main>div p{
    padding-top: 10px;
    font-size: 16px;
}
#ba{
    padding-left: 11%;
    font-family: sans-serif;
    color:rgb(62, 60, 60);
}


#detail_contain{
    /* border: 1px solid red; */
    margin-top: 2%;
    width: 40%;

}
#title{
    
    font-size: 25px;
    font-weight: bold;
}

#location_detail, #charges, #workingtime, #address, #contact{
    margin-top: 1%;
    font-size: 19px;
}
#detail_img{
    /* border: 1px solid red; */
    height: 250px;
    width: 300px;
    margin-right: 20px;
}
#detail_img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
body{
    background: rgb(93,223,230);
    background: linear-gradient(90deg, rgb(246, 248, 207) 0%, rgb(136, 125, 85) 100%);
}
#form{
    width: 30%;
    padding-left: 10%;
    padding-top: 20px;
    margin: auto;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 10px;
   background-color: snow;
   margin-bottom: 20px;
   background-color: beige;
}
#clientName,#email{
    height: 35px;
    margin-top: 20px;
    width: 65%;
    font-size: 12px;
}
#occasion,#bookedOn{
    margin-top: 20px;
    height: 35px;
    width: 25%;
    font-size: 12px;
}
#form_contain{
    display: flex;
    gap: 10%;
}
#book-slot{
    display: flex;
    font-size: 20px;
    margin-top: 2%;
   
}
#start_time,#end_time{

    height: 30px;
    width: 60%;
    font-size: 14px;
    margin-right: 1%;
}
#confirm{
    margin-left: 15%;
    margin-top: 7%;
    font-size: 18px;
    padding: 1.5%;
    border-radius: 10px;
    width: 170px;
    color: white;
    background-color: rgb(74, 72, 32);
    font-weight: bold;
   
    border: none;
}
#confirm:hover{
    background-color: rgb(105, 101, 39);
}
#occasions-container{
    margin-top: 2%;
    line-height: 1.8;
}
ul, li{
    list-style: none;
   
}
li button{
    font-size: 16px;
    font-weight: bold;
    padding: 0.8%;
    margin-top: 1%;
}
ul{
    font-size: 18px;
    /* margin-top: 2%; */
    
}
ul::after {
    content: "";
    display: block;
    border-bottom: 1px solid black;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  @media screen and  (max-width: 1110px) and(min-width:450px) {

    #detail_main{
        border: 1px solid red;
        display: flex;
        flex-wrap: wrap;
        /* margin: auto; */
    }
    #detail_img{
        margin: auto;
        margin-top: 20px;
    }
    #title{
        margin-top: 22px;
    }
    #detail_contain{
        margin-top: 20px;
        margin: auto;
    }
  }

  @media screen and  (max-width: 449px){
    #detail_main{
        width: auto;
        display: flex;
        flex-wrap: wrap;
        /* margin: auto; */
    
    }
    #detail_img{
        margin: auto;
        margin-top: 0px;
        width: auto;
    }
    #title{
        margin-top: 14px;
    }
    #detail_contain{
        margin-top: 10px;
        margin: auto;
    }
    #form{
        width: auto;
        height: 500px;
    }

    #confirm{
        width: 80px;
    }
  }