*{
  margin: 0px;
}
#bg{
  position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(127, 255, 212, 0.553);
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
   
}
#mid>a{
  font-size: 26px;
  margin-right: 8%;
  margin-top: 5px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  /* background-color: #ddd; */
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}