#cart_info> h2{
    margin-top: -20px;
    margin-bottom: -20px;
    font-size: 25px;
    text-align: left;
    font-family: sans-serif;
    color: rgb(89, 86, 86);
    margin-left: 23px;
}
#cart_info h3{
      /* color: red;  */
     font-size: 16px;
    margin-bottom: -16px;
    text-align: left;
    color: rgb(95, 91, 91);
    margin-left: 33px;
  }

  #cart_img{
    height: 300px;
    margin-bottom: -22px;
  }
  .occasion>h3{
    color:rgb(43, 41, 41);
    border: 1px solid gray;
    font-size: 22px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: -8px;
    margin-top: 16px;
  }
  .slots>p{
    padding-top: 5px;
    font-size: 15px;
    margin-bottom: -8px;
  }