#main_card{
   /* border: 1px solid red; */
   display: flex;
   justify-content: space-between;
   margin-top: 2%;
  padding-left: 5%;
   
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 10px;
   background-color: rgb(238, 238, 218);
   cursor: pointer;
   
}
#main_card:hover{
    background-color: white;
}
#photo_main{
    width: 51%;
    margin: auto;
    cursor: pointer;
    
}
#show-photo-data{
    margin-top: 5%;
    font-family: sans-serif;
}

body{
    background: rgb(198, 189, 126);
    background: linear-gradient(90deg, rgb(246, 248, 207) 0%, rgb(136, 125, 85) 100%);
}
#card_img{
    /* margin: auto; */
    /* border: 1px solid red; */
    padding-top: 1%;
    padding-bottom: 1%;
    width: 280px;
    height: 200px;
}


#show-photo-data h1{
    font-size: 20px;
}
#card_img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
#occasion_add p{
    /* border: 1px solid red; */
    font-size: 14px;
    font-weight: lighter;
    padding-top: 10px;

}
#card_info{
    margin-top: 3%;
    margin-bottom: 3%;
    /* border: 1px solid green; */
    width: 40%;
}
#card_info p{
  font-size:15px;
  padding-top: 10px;
  margin-top: 2%;
}
#search{
    width: 30%;
    height: 40px;
    font-size: 16px;
   margin-left: 110px;
}
#select{
    width: 30%;
    height: 40px;
    font-size: 16px;
}
/* #functionality{
    display: flex;
    justify-content: space-between;
} */

@media screen and (max-width:1100px) {
    #card_img{
        width: 95%;
        height: 300px;
        margin-top: 20px;
    }
    #card_info{
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 20px;
      }
    #main_card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2%;
        padding-left: 5%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        background-color: white;
    }
}