       
* {
    margin: 0px;
    font-family: "Nunito", "Lato", sans-serif;
    color: rgb(88, 86, 82);
}

.left-side {
    /* border: 1px solid red; */
    width: 50%;
    height: 655px;
    background-color: #fdfdfd;
}

#logo {
    /* border: 1px solid black; */
    height: 60px;
    margin-left: 20px;
    margin-top: 5px;
}

#logo>a>img {
    width: 100px;
}

#greet {
    /* border: 1px solid; */
    text-align: center;
    margin-top: 10px;
}

#greet>p {
    font-size: clamp(1em, 4vw, 1.15em) !important;
    line-height: 1.6em;
    font-weight: 400;
    margin-top: 8px;
}

#greet>h1 {
    font-size: 42px;
}

#detail {
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    height: 460px;
    margin-top: 20px;
}

.formInp {
    /* border: 1px solid #fdfdfd; */
    font-size: 18px;
    margin: 20px 0px 10px 0px;
    padding: 5px;
    width: 230px;
    margin-left: 20px;
    background-color: #fdfdfd;
    outline: none;
    /* text-decoration: underline; */
    border-bottom: 1px solid rgb(99, 96, 96);
    border-top: none;
    border-left: none;
    border-right: none;
}

#location {
    width: 494px;
}

#checkbox {
    margin-left: -80px;
    margin-right: -110px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#submit {
    width: 80%;
    height: 50px;
    margin: 24px 0px 0px 50px;
    border: none;
    color: white;
    background-color: rgb(157, 157, 134);
    border-radius: 115px;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 40px;
}

#main {
    display: flex;
}

#right-side {
    width: 50%;
    background-color: #d1c0a9;
}

#right-side>img {
    width: 75%;
    margin-top: 110px;
    margin-left: 100px;
}

#email,
#password {
    
}

#goto-login{
    text-decoration: none;
    color: rgb(136, 135, 121);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 425px;
}

#bl{
    height: 20px;
}

#ggl{
    width: 434px;
    height: 50px;
    border: 1px solid red;
    padding: 12px 108px;
    margin-left: 80px;
    margin-top: 130px;
    border: none;
    background-color: rgb(201, 197, 169);
    border-radius: 115px;
    font-size: 24px;

    cursor: pointer;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    width: 400px;
}
#or{
    text-align: center;
    margin-top: -22px;
    margin-bottom: 22px;
}